@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryLight: #f8f6f2;
  --primaryDark: #291a09;
  --primaryAccent: #173213;
}

body {
  background-color: var(--primaryLight);
  color: var(--primaryAccent);
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
